body {
    background-color: black;
    background-image: url(../images/spacebackground.gif);
}


.text {

    height: fit-content;
    text-align: center;
    padding: 15px;
}

.backArrow {
    position: absolute;
    top: 0%;
    left: 0%;
}